.header {
    display: flex;
flex-direction: row;
justify-content: space-between;
border: 1px solid black;
}
.logo{
    width: 200px;
    height: 150px;
}
.list{
    display: flex;
}
.nav-items{
    padding: 15px;
}
.nav-items >ul{
   list-style-type: none;

}

.nav-items >ul >li{
    padding: 10px;
    margin:10px; 
}
.res-card{
    width:210px;
    padding: 5px;
    margin:5px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}
.res-card:hover{
    border: 1px solid blue;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
 
}
.food-image{
    height: 200px;
    
}